<!DOCTYPE html>
<html lang="en">
<%-include ('blocks/head')-%>
<body>
    <h1>users page</h1>
    <p><a href="/">home</a></p>
    <p><a href="/about">about</a></p>

    <p>number /// <%=id%></p>
</body>
</html>